<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static\style.css">
   
</head>
<body>
     <header>
          <img src='static\logo.png' alt='ConcreteAnalyzer'>
     </header>
     <form action="/index" method="post">
        <section>
            <div class="container">
                 <h1 align='center'>CONCRETE STRENGTH PREDICTION</h1>
            </div>
       </section> 
       <div class="button">
        <input type="submit" value="PREDICTION">
       </div>
     </form>
        
</body>
</html>